.sudo:hover{
	color: green;
	font-family: verdana;
	font-size: 30px;
}


.sudo:active{
	font-style: italic;

}


.sudo:visited{
	color: yellow;
}

li:first-child a {
color: red;
}
li:last-child a {
color: blue;
}


li:nth-child(3n-1) a {
color: green;
}

#p1:target {
	background-color: green;
}